/* Write some CSS below */

h1 {
	color:#EAE2B7;
	font-size: 60px;
}
h2 {
	color: #F77F00;
}	
h3 {
	color:#D62828;
}

h1,h2,h3 {
	font-family: 'Vina Sans', cursive;
}
body {
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #003049;
	color: #003049;
  margin: 0;
}	
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
.card-white {
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  width: 200px;
  text-align: center;
  padding: 24px;
  margin: 8px;
}
.footer {
  background: #404042;
  text-align: center;
  padding: 24px 0;
}
.footer p {
	color:white;
}
.container {
  width: 800px;
  margin: auto;
}
.banner {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}
.banner h1 {
  color: #EAE2B7;
  font-size: 45px;
  margin: 0;
}

.banner p {
  color:#EAE2B7;
  font-size: 24px;
}
.button-blue {
  background-color: #FCBF49;
  color: white;
  padding: 16px 48px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
}
.button-blue:hover {
  background-color: #0D1EC6;
  color: white;
}
p {
  color: #003049;
  opacity: .7;
}
@media (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr;
  }
  
  .card-white {
    width: auto;
  }
}
@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}
@media (min-width: 800px) {
  .container {
    width: 600px;
  }
}